.login{
  display:flex;
  justify-content: center;
  margin-top:25vh;
}

.login form > input[type="submit"]{
  display:block;
  margin-top:10px;
}

.login form > input{
  padding: 5px;
}

.login form button{
  display:none;
}

.login form p:last-child{
  color:red;
  font-size:12px;
}

h1 > p{
  cursor:pointer;
}