.chat_body{
  display:flex;
  flex-direction: column;
  flex:0.85;
  height:100vh;
}
.chat_meat{
  display:flex;
  flex:1;
  flex-direction: column;
  overflow-y:scroll;
}
.chat_header{
  display:flex;
  align-items: center;
  border-bottom:1px solid lightgray;
  padding:20px;
}
.chat_headerInfo{
  flex:1;
  padding-left: 20px; 
}
.chat_headerInfo > h3{
  margin:5px;
  font-weight: 500;
}
.chat_headerInfo > p{
  color:gray;
}
.chat_meat{
  flex:1;
  /*background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
  */
  background-color: #f3f3f3;
  background-repeat:repeat;
  background-position: center;
  padding:30px;
  overflow-y:scroll;
  overflow-x:hidden;
}
.chat_message{
  position: relative;
  font-size: 16px;
  padding:10px;
  width:fit-content;
  border-radius:10px;
  background-color:#ffffff;
  margin-bottom:30px;
}
.chat_timestamp{
  margin-left:10px;
  font-size:xx-small;
}
.chat_receiver{
  margin-left:auto;
  background-color: #dcf8c6;
}
.chat_footer{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 62px;
  border-top:1px solid lightgray;
}
.chat_footer > form{
  flex:1;
  display:flex;
}
.chat_footer > form > input{
  flex:1;
  border-radius: 30px;
  padding:10px;
  border:none;
  outline-width: 0;
}
.chat_footer > form > button{
  display:none;
}
.chat_footer > .MuiScgIcon-root{
padding:10px;
color:grey;
}